body {
  margin: 0;
  padding: 0;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 100px;
  color: white;
  margin-bottom: 40px;
}

#subheader {
  margin-bottom: 30px;
}

button {
  height: 50px;
}

#clearButton {
  margin-left: 10px;
}
