body {
  background-image: url("../img/ocean2.jpg");
  margin: 0;
  padding: 0;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7d9cd6;
  height: 100px;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.jumbotron {
  border: 3px black solid;
  border-radius: 10px;
}

.jumbotron:hover {
  box-shadow: 0 14px 28px hsl(220, 50%, 88%), 0 10px 10px hsl(220, 50%, 88%);
}

#subheader {
  margin-bottom: 30px;
}

.mainBox {
  background-color: #92d7de;
}

button {
  height: 50px;
}

#clearButton {
  margin-left: 10px;
}

.resultsDiv {
  display: none;
}

#weatherEl,
#eventEl {
  background-color: #8dc7a9;
}

#upcomingEvent {
  background-color: #9ede92;
}

a {
  color: black;
}
